import os

_basedir = os.path.abspath(os.path.dirname(__file__))

DEBUG = False

SECRET_KEY = 'mysecretkey'
DATABASE_CONNECT_OPTIONS = {}

USERNAME = 'test'
PASSWORD = 'test'

MYSQL_USERNAME = 'root'
MYSQL_PASSWORD = 'root'
MYSQL_DB = 'blog_flask'

del os
